.imagen {
    border: 1px solid;
    max-width: 235px;
}

img {
    width: 100%;
    border: 1px solid;
    padding: 5px;  
    box-sizing: border-box;
    border-color: lightgray;
}

h2{
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}